@model Travel.Models.auxiliar.libroAutor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>libro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Editorial
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombre_editorial)
        </dd>
        <dt class = "col-sm-2">
            Autor
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombre_autor)
        </dd>
        <dt class = "col-sm-2">
            Titulo
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.titulo)
        </dd>
        <dt class = "col-sm-2">
            Sinopsis
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sinopsis)
        </dd>
        <dt class = "col-sm-2">
            Numero de páginas
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.n_paginas)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ISBN" style="font-size: 10px" class="btn btn-xs btn-success"> <i class="fa fa-pencil"></i> Edit</a> |
    <a asp-action="Index" class="btn btn-primary" style="font-size: 10px"><i class="fa fa-arrow-rotate-back"></i> Back to List</a>
</div>
